<!DOCTYPE html>
<html>
<head>
    <title>JMS Manager - Failed Messages</title>
    <link rel="stylesheet" type="text/css" href="/static/css/w2ui-1.4.3.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/jms-manager.css" />
    <script type="text/javascript" src="/static/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/static/js/w2ui-1.4.3.js"></script>
</head>
<body>

<div id="grid" style="width: 100%; height: 250px;"></div>

<script type="text/javascript">
    w2utils.settings['dataType'] = 'JSON';
    $(function () {
        $('#grid').w2grid({
            name: 'grid',
            url: {
                get: '/web/failed-messages/data',
                remove: '/web/failed-messages/delete',
                resend: '/web/failed-messages/resend',
                save: '/web/failed-messages/add-label'
            },
            show: {
                selectColumn: true,
                toolbar: true,
                toolbarDelete: true,
                toolbarSave: true
            },
            columns: [
                { field: 'recid', caption: 'Failed Message Id', size: '220px', sortable: true },
                { field: 'destination.broker', caption: 'Broker', size: '10%', sortable: true },
                { field: 'destination.name', caption: 'Queue', size: '10%', sortable: true },
                { field: 'sentAt', caption: 'Originally Sent', size: '160px', sortable: true },
                { field: 'failedAt', caption: 'Failed', size: '160px', sortable: true },
                { field: 'labels', caption: 'Labels', size: '20%', editable: { type: 'text' } },
                { field: 'content', caption: 'Content', size: '80%', sortable: true },
            ]
        }).toolbar.insert(
                'w2ui-delete',
                {
                    type: 'button',
                    id: 'resend',
                    text: 'Re-send selected records',
                    caption: 'Resend',
                    img: 'icon-send',
                    onClick: function (event) {
                        console.log(event);
                        w2ui.grid.request('resend', null, w2ui.grid.url.resend,
                                function (data) {
                                    if (data.status !== 'error') {
                                        w2ui.grid.reload();
                                    }
                                });
                    }
                }
        );
    });
</script>

</body>
</html>